@head-color: #fff;
@default-wp-bg: #222;
@default-wp-color: #eee;

#wplf-all-settings {

    h2 {
        font-size: 22px;
        font-variant: small-caps;
        padding: 5px;
        text-align: center;
        text-transform: full-width;
        margin-top: 0;
    }

    .form-table {

        margin-top: 0;
        background: #fff;

        th {
            padding-left: 20px;
        }
    }

    .settings_panel {
//        border: 5px solid #222;
        border-top: none;

        #wplf-settings-inside {
//            border: 5px solid @head-color;
        }
    }

    h3.permalink-error {
        text-align: center;
        background-color: #a23333;
        margin-top: 0px;
        margin-bottom: 0px;
        color: #ffed00;
        padding: 8px;
    }
}

#wplf-nav-tabs {
    .nav-tab-active, .nav-tab-active:hover {
        border-bottom: none;
//        background: @default-wp-bg;
        color: #FFFFFF;
    }

    .nav-tab {

        &:hover {
            color: #222222;
        }

    }
}